In [19]:
# We will use python package for generating the fake data which will help us to generate the required data.
from faker import Faker
from faker.providers import DynamicProvider
import os 
import pandas as pd
fake = Faker()

In [20]:
os.chdir('Data-Analysis/Visualization/PowerBI/')

In [21]:
# Starting Point from where we are going to start.
# Consider This is as a list of managers undder Active Directory.

dat = []

for i in range(12):
    dat.append([fake.pyint() , fake.name(), fake.email(), fake.phone_number()])

managers = pd.DataFrame(dat, columns=['EmpID', 'DisplayName', 'UserPrincipalName', 'UserPhoneNumber'])
managers.to_excel('Data/Managers.xlsx')

In [22]:
# This is a very simple Dynamic Provider to create relationship between employees and managers

mangers = DynamicProvider(
     provider_name="employee_manager",
     elements= managers['EmpID'].tolist()
)

fake.add_provider(mangers)

In [23]:
# Generating the Data Table for Employees in a compyany are punching in time machines at different location

dat = []
for i in range(97):
    dat.append([fake.pyint() , fake.name(), fake.email(), fake.phone_number(), fake.employee_manager()])

# Saving data directly to the requried location
employeeTable = pd.DataFrame(dat, columns=['EmpID', 'DisplayName', 'UserPrincipalName', 'UserPhoneNumber', 'ManagerID'])
employeeTable.to_excel('Data/EmployeesDetails.xlsx')

In [26]:
employeeTable.to_clipboard()

In [27]:
# Code for Time Sheet Database

# we will create table to achive Start Schema which is easy handle with power bi 

# In our setup we have 3 data source
# 1 is Azure Active directory
# 2 is also Azure but Managers
# 3 is Time Machine data

# So lets do this

In [12]:

# So lets do this

In [45]:
df = pd.read_clipboard(

    
)

In [46]:
df['Number'] = df['Number'].replace(dict(zip(df['Number'].sample(95), managers['EmpID'])))

In [47]:
df = df[df['Number'].isin(managers['EmpID'])]

In [50]:
df

,PunchDate,Number,Day Out,Day In,Name,Difference,Date,Manager
80,11/1/2021 0:00,9923,NaN,6:56:43 AM,Khuram Mumtaz,NaN,"Monday, November 1, 2021",NaN
83,11/1/2021 0:00,1786,NaN,7:32:15 AM,NaN,NaN,"Monday, November 1, 2021",balawia@seder.sa
92,11/1/2021 0:00,9372,NaN,6:10:26 AM,Ratna Bahadur Dorje,NaN,"Monday, November 1, 2021",NaN
150,11/1/2021 0:00,2138,NaN,7:35:23 AM,Habeeb Mohammad Shahid,NaN,"Monday, November 1, 2021",karsonm@seder.sa
182,11/1/2021 0:00,9520,NaN,8:35:06 AM,Ahmed Emad,NaN,"Monday, November 1, 2021",karsonm@seder.sa
...,...,...,...,...,...,...,...,...
29481,8/21/2021 0:00,3902,NaN,8:36:11 AM,Imran Abdul Abdul Wahab,2:57:15,"Saturday, August 21, 2021",NaN
29597,11/1/2021 0:00,3094,NaN,7:24:25 AM,Yahiya Zakaria Moustafa Abdelfattah Nour,0:00:02,"Monday, November 1, 2021",Jarallahs@seder.sa
29602,11/1/2021 0:00,7689,NaN,5:53:43 AM,Mohammed Shahid,0:00:02,"Monday, November 1, 2021",NaN
29679,11/1/2021 0:00,8275,NaN,8:12:04 AM,Ahmed Omar Alashiry,0:00:03,"Monday, November 1, 2021",NaN
29722,9/2/2021 0:00,8275,NaN,8:24:02 AM,Ahmed Omar Alashiry,0:00:03,"Thursday, September 2, 2021",NaN

In [35]:
# pd.concat([df, employeeTable])
df.merge(employeeTable, how='left', left_on='Number', right_on='EmpID', validate='1:m')

MergeError: Merge keys are not unique in left dataset; not a one-to-many merge

In [29]:
employeeTable

,EmpID,DisplayName,UserPrincipalName,UserPhoneNumber,ManagerID
0,5136,Kayla Simmons,dperez@example.org,5488548981,5614
1,2468,Scott Garrison,barrettdaniel@example.org,001-531-335-5241,5614
2,5669,Jeremy Knox,abigail54@example.org,990.866.5821x66034,7914
3,2173,Daniel Sullivan,careyjason@example.net,+1-503-632-9181,4930
4,5746,Andrew Bryan,orodriguez@example.com,001-793-392-7278,2591
...,...,...,...,...,...
92,7584,Alexis Gaines,burkemichelle@example.net,867-655-7235x07789,800
93,9302,Deanna Guzman,vincentpeters@example.net,+1-782-499-2110x7742,6059
94,4560,Todd Mason,justin87@example.com,715-789-6064x5486,7288
95,6205,Amanda Martinez,rhess@example.org,529.803.0002x5313,4930
96,2,Stephanie Garcia,antonio62@example.net,842.663.7194,2591