## Code written to check the Data inside the SQL Database Tables

- Idea is to connect to database
- List all the tables Names. 
- To check the dataframe shape (no of rows and columns) for Analysis.
- Column datapyes were also required so I have a column for it as well.    


It helped in a situtaion where we have thousands of tables in an ERP Database and we were interested in Particular Coloumn and its relationship. The contents in a table is also important to track the actual data inside the table.

In [2]:
from sqlalchemy import create_engine, inspect
import pandas as pd

# To make this running you have to make your own engine with yoru data base.
# For more information regarding engine creation kindly use official documentation of SQL alchemy.
# here is the link for documentation @ ['Engine Config']('https://docs.sqlalchemy.org/en/20/core/engines.html')

engine = create_engine("postgresql+psycopg2://**:******@localhost:5432/testbase")
inspector = inspect(engine)

In [3]:
%%time

tableNames = []
for i in inspector.get_table_names():
    df = pd.read_sql(i, engine)
    tableNames.append([i, df.shape, df.columns, list(set(df.dtypes.tolist()))])

CPU times: total: 7.03 s
Wall time: 8.12 s

In [4]:
pd.DataFrame(tableNames, columns=['Table Name', 'Table Shape', 'Table Columns', 'Data Types'])

,Table Name,Table Shape,Table Columns,Data Types
0,test,"(3, 3)","Index(['index', 'Posting date', 'Project Name'...","[object, int64]"
1,orderHeader,"(10, 4)","Index(['S.NO', 'Date', 'Order ID', 'Customer']...","[object, int64]"
2,orderDetails,"(23, 5)","Index(['OrderID', 'ItemDetails', 'Qty', 'Price...","[object, int64, float64]"
3,Saudization,"(77074, 23)","Index(['رقم العامل', 'اسم العامل', 'الجنسية', ...","[int64, datetime64[ns], object, float64]"
4,cust,"(16, 4)","Index(['customerid', 'firstname', 'lastname', ...","[object, int64]"
5,ct,"(8, 4)","Index(['id', 'rowid', 'attribute', 'value'], d...","[object, int64]"
6,test2,"(3, 3)","Index(['index', 'Posting date', 'Project Name'...","[object, int64]"
7,sourceManpower,"(26866, 59)","Index(['index', 'Position', 'Link With Budget'...","[datetime64[ns], object, int64, float64]"
8,ManpowerDashboard,"(26866, 16)","Index(['index', 'Position', 'Personal Number',...","[datetime64[ns], object, int64, float64]"
9,TrailBalance,"(1225021, 11)","Index(['MainAccount', 'Division', 'Projects', ...","[datetime64[ns], object, int64, float64]"